/*.skills {*/
/*    min-height: 100px;*/
/*    background: #666666;*/
/*}*/
.skill-items {
    background: red;
}

.skills Box{
    background: blueviolet;
}

.test1 {
    width: 100px;
    height: 200px;
    background: blue;
}